// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$dark-blue: #062743;
$blue: #113a5d;
$light-blue: #c4ffdd;
$white: #f9f9f9;
$blue-typo-light: #59758B;
$dark-grey: #2E383F;

