#event-img > img {
  max-height: 500px;
  margin: 40px auto 0px;

}

.event-infos {
  margin: 70px auto 0px;

  .event-title {
    font-size: 60px;
  }
  .event-genre {
    font-size: 30px;
  }
}

.back-home {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

.display-average-stars {
font-size: 16px;
color: $dark-grey;
font-weight: 400;
}
