#event-img > img {
  max-width: 100%;
  margin: 40px auto 0px;

}

.event-infos {
  margin: 4rem auto 0px;
  max-height: 95%;

  .event-title {
    font-size: 4rem;
  }
  .event-genre {
    font-weight: lighter;
  }
  .event-date {
    color: $red-clapee;
    font-weight: bold;
  }
  .event-status{
    font-size: 2rem;
    font-weight: bold;
  }
  .btn-clapee {
    margin-top: 2rem;
  }
}

.event-description {
  margin: 7px;
  font-size: 14px;
  font-weight: 300;
}

.back-home {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

.display-average-stars {
font-size: 16px;
color: $dark-grey;
font-weight: 400;
}
