#my-reviews-event-img > img {
  max-width: 80px;

}

.profile-infos {
  width: 100%;

  .profile-concert {
    color: $red-clapee;
    font-weight: bolder;
  }

  .profile-title {
    font-weight: bolder;
  }

  .profile-avis {
    color: $blue-typo-light;
    font-size: 1.3rem;
  }

  .profile-voir-concert {
    font-size: 1rem;
  }
}
