<%= link_to like_path(like), remote: true, method: :delete do %>
  <%= inline_svg('heart.svg', width: 14) %>
<% end %>
<em>
  <span class="number-likes", id="like-count-<%= review.id %>">
    (<%= review.likes.count %> likes)
  </span>
</em>
