<%= link_to review_likes_path(review), remote: true, method: :post do %>
  <%= inline_svg('heart', width: 14, class: "heart-grey") %>
<% end %>

<em>
  <span class="number-likes", id="like-count-<%= review.id %>">(<%= review.likes.count %> likes)</span>
</em>
