
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,184,169,0.2) 0%, rgba(0,79,73,0.1) 50%), url(<%= asset_path 'bannerclapee.png' %>);">
  <div class="banner-content">
      <div class="container">
        <div class="row">
            <h1 class="text-center">
              Live music<br>it’s all about passion
            </h1>
        </div>
      </div>
    </div>
  </div>
</div>
