<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/clapeemusic/" target="_blank"><i class="fab fa-instagram" ></i></a>
    <a href="https://www.facebook.com/ClapeeConcerts/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/clapeemusic" target="_blank"><i class="fab fa-twitter" target="_blank"></i></a>
  </div>

  <div class="footer-copyright">
   <%= link_to "MENTIONS LÉGALES", legalpage_path, class:"footer-copyright"%>
  </div>
</div>
