<div class="average-stars" style="font-size:3vw;">
  <% @star_total = 0 %>
    <% if @event.reviews.count > 0 %>
      <% @event.reviews.each do |review| %>
        <% @star_total += review.stars.to_i %>
      <% end %>
    <% @star_average = @star_total.div(@event.reviews.count).round%>
  <% end %>

  <% if @event.reviews.count == 0 %>
    <br>
  <% else %>
  <ul class="list-inline">
    <li>
      <% @star_average.times do %>
        <%= inline_svg("clap", width: 32, class:"clap-blue") %>
      <% end %>
      <% (5 - @star_average).times do %>
        <%= inline_svg("clap", width: 32) %>
      <% end %>
    </li>
    <li class="display-average-stars" style="font-size:2.5vw;">
      <em>(<%= @event.reviews.count %> avis)</em>
    </li>
  <% end %>
</div>

