<div class="container">
  <div class="container-margin">
    <div class="legal-mentions">
      <br>
      <em> Directrice de la publication : Coralie Delpha, 145 boulevard Voltaire, 92600 Asnières-sur-Seine, France </em>
      <br>
      <em> Hébergeur : Heroku 650 7th St, San Francisco, CA 94103, États-Unis </em>
    </div>
  </div>
</div>
