/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $blue-typo-light;
  position: absolute;
  top: 80px;
  width: 100%;
  border-color: transparent;
  z-index: 1000;
}
.alert-info {
  background: #D5F4D6;
}
.alert-warning {
  background: $red-clapee;
}
