@media screen and (min-width: 10px) {
  .btn {
    padding: 5px 9px;
  }
  .btn-clapee {
    font-size: 10px;
  }
  .btn-to-digitick {
    font-size:8px;
  }
}

@media screen and (min-width: 576px) {
  .btn {
    padding: 6px 10px;
  }
  .btn-clapee {
    font-size: 12px;
  }
  .btn-to-digitick {
    font-size:10px;
  }
}

@media screen and (min-width: 768px) {
  .btn-clapee {
    font-size: 14px;
  }
  .btn-to-digitick {
    font-size:12px;
  }
}

@media screen and (min-width: 992px) {
  .btn-clapee {
    font-size: 16px;
  }
  .btn-to-digitick {
    font-size:14px;
  }
}

.btn-clapee {
  border-radius: 7px;
}

.btn-default {
  border-radius: 4px;
  background-color: transparent;
  color: $blue;
  margin: 15px 0px;
  font-weight: 200;
}

.btn-fb {
  margin-top: 10px;
  border-radius: 4px;
  background-color: #2d5998;
  color: white;
  width: 100%;
}
.btn-fb:hover {
  color: white;
  background-color: #275089;
}

.btn-sign-up {
  width: 100%;
  background-color: $red-clapee;
  border-radius: 4px;
  color: white;
}
.btn-sign-up:hover {
  color: white;
  background-color: #77313a;
}

.links {
  color: $blue-typo-light;
}
.links:hover {
  text-decoration: none;
  color: $blue;
}

.btn-back-concert {
  background-color: $red-clapee;
  border-radius: 4px;
  color: white;
}
.btn-back-concert:hover {
  color: white;
  background-color: #77313a;
}
