.btn-clapee {
  border-radius: 4px;
  font-size: 14px;
}

.btn-default {
  border-radius: 4px;
  background-color: transparent;
  color: $blue;
  margin: 15px 0px;
  font-weight: 200;
}

.btn-fb {
  margin-top: 10px;
  border-radius: 4px;
  background-color: #2d5998;
  color: white;
  width: 100%;
}
.btn-fb:hover {
  color: white;
  background-color: #275089;
}

.btn-sign-up {
  width: 100%;
  background-color: $red-clapee;
  border-radius: 4px;
  color: white;
}
.btn-sign-up:hover {
  color: white;
  background-color: #77313a;
}

.link-log-in {
  color: $blue-typo-light;
}
.link-log-in:hover {
  text-decoration: none;
}
