.card {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-bottom: 150%;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-infos {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  transition: ease 400ms all;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  padding: 30px 10px 10px;
}


.card:hover {

  .card-infos {
    color: $white;
    transform: translateY(0%);
  }
}

@media screen and (min-width: 10px) {
  .card-title {
  font-size:14px;
  }
  .card-location {
  font-size:14px;
  }
  .card-date {
  font-size:11px;
  }
}

@media screen and (min-width: 576px) {
  .card-title {
  font-size:17px;
  }
  .card-location {
  font-size:17px;
  }
  .card-date {
  font-size:13px;
  }
}

@media screen and (min-width: 768px) {
  .card-title {
  font-size:19px;
  }
  .card-location {
  font-size:19px;
  }
  .card-date {
  font-size:15px;
  }
}

@media screen and (min-width: 992px) {
  .card-title {
  font-size:19px;
  }
  .card-location {
  font-size:19px;
  }
  .card-date {
  font-size:15px;
  }
}

.card-location {
  color: $red-clapee;
  font-weight: 800;
  letter-spacing: 2px;
}

.card-date {
  margin-bottom: 4px;
}
