.title-form {
  margin : 10px 0;
  font-size: 30px;
  letter-spacing: 2px;
  color: $blue;
}
.background-img {
  background-image: linear-gradient(-225deg, rgba(250,250,250,0.5) 0%, rgba(250,250,250,0.2) 50%), url('anthony-delanoix-min.jpg');
  background-size: cover !important;
  height: 100vh;

}

.background-img-new {
  background-image: linear-gradient(-225deg, rgba(250,250,250,0.5) 0%, rgba(250,250,250,0.2) 50%), url('marc-olivier-paquin-min.jpg');
  background-size: cover !important;
  flex: 1;
}

.background-img-profile {
  background-image: linear-gradient(-225deg, rgba(250,250,250,0.5) 0%, rgba(250,250,250,0.2) 50%), url('austin-neill-min.jpg');
  background-size: cover !important;
}

@media screen and (min-width: 10px) {
  .background-img-new {
    height:100%;
    overflow: scroll;
  }
  .background-img-profile {
    height:100%;
    overflow: scroll;
  }
}

@media screen and (min-width: 576px) {
  .background-img-new {
  }
  .background-img-profile {
  }
}

@media screen and (min-width: 375px) {
  .background-img-new {
  }
}



@media screen and (min-width: 768px) {
  .background-img-new {
  }
  .background-img-profile {
  }
}

@media screen and (min-width: 992px) {
  .background-img-new {
  }
  .background-img-profile {
  }
}
