html, body {
  min-height: 100vh;
}

body {
 display: flex;
 flex-direction: column;
}

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container-margin {
  margin-top: 70px;
}

