
@media screen and (min-width: 10px) {
  .display-average-stars {
    font-size: 8px;
  }
}

@media screen and (min-width: 576px) {
  .display-average-stars {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .display-average-stars {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  .display-average-stars {
    font-size: 16px;
  }
}


.display-average-stars {
color: $dark-grey;
font-weight: 400;
}

.stars-display {
  margin : 10px 0 6px 0;
}
